body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1f1d1d;
    
    
    font-family: Arial, sans-serif;
    margin: 0;
    /* Background image */
    
    background-image:  url("../images/4.jpg");
    background-size: cover;     /* Makes it cover the entire screen */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps background fixed while scrolling */
    background-position: center;  /* Centers the image */
    color: #050505; /* Optional: white text to show on dark backgrounds */

}

header {
    background-color: none;
    color: rgb(27, 25, 25);
    padding: 20px;
    text-align: center;
      
}

.recipe-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;

    

}

.recipe-card {
    background: none;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding-bottom: 15px;
}

.recipe-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.button {
    background-color:none;
    border: none;
    color: rgb(14, 13, 13);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
     text-decoration: none;
     box-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

.button:hover {
    background-color: #000000;
}

#recipe-details {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    display: none;
}
.content {
     padding: 15px; 
}

  